.title-name{
  margin-top: 1vh;
  position:absolute;
  left: 0;
  padding-left: 3vw;
}
.navitem{
    color:darkolivegreen;
    text-decoration: none;
    cursor: pointer;
  }
  
  .navitem:hover{
    color: black;
  }

  #myphoto{
    max-width: 600px;
  }

  .heading{
    color:darkolivegreen;
  }

  #text-container{
    width: 50%;
    float: right;
    margin-top: 10vh;
    text-align: center;
  }



  #contact-section{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%
  }

  .project-container,
  .project-container div{
    margin-top: 3vh;
  }

  .footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
  }

  .footer-icons{
    float: right;
    max-width: 50%;
    display: flex;
    justify-content: left;

  }

  .footer-icons a {
    padding: 5px;
  }

  .footer-text{
    float: right;
    width: 50%;
    padding-bottom: 0px;

  }

  .links{
    text-decoration: none;
  }

  #resume-link{
    margin: 5vw 5vh;

  }