.title-name {
  margin-top: 1vh;
  position: absolute;
  left: 0;
  padding-left: 3vw;
  font-size: 2rem
}
.navitem {
  color: darkolivegreen;
  text-decoration: none;
  cursor: pointer;
}

.navitem:hover {
  color: black;
}


@media only screen and (max-width: 600px) {
  .title-name {
    position: fixed;
    bottom: 0;
    margin-left: 60%;
    float: right;
    font-size: 1.5rem;
  }

  .nav-link {
    margin-left: 10px;
    text-align: center;
  }
}
