.title-name{
    margin-top: 1vh;
    position:absolute;
    left: 0;
    padding-left: 3vw;
  }
  .navitem{
      color:darkolivegreen;
      text-decoration: none;
      cursor: pointer;
    }
    
    .navitem:hover{
      color: black;
    }


.title-name{
    font-size: 2rem;

}

@media only screen and (max-width: 600px) {
  .title-name {
z-index: 100;
top: 20px;
right: 0px;
  }

  .nav-link {
      margin-left: 10px;

  }
}
