.title-name {
  position: fixed;
  bottom: 0;
  margin-left: 60%;
  margin-right: 10px;
  float: right;
  font-size: 1.5rem;
  color: darkolivegreen
}
.navitem {
  color: darkolivegreen;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
}

.navitem:hover {
  font-weight: 600;
}


@media only screen and (max-width: 600px) {


  .nav-link {
    margin-left: 10px;
    text-align: center;
  }
}
